.jumbotron {
    margin-left: 10em;
    margin-right: 10em;
    background: bisque;
}

body {
    background: darkseagreen;
}

#section0 {
    margin-top: 6em;
}

footer{
    background: bisque;
}

.navbar {
    padding-top: 10px ;
    padding-bottom: 10px ;
}